<%= form_with(model: [page, row], local: true) do |form| %>
  <% if row.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(row.errors.count, "error") %> prohibited this row from being saved:</h2>

      <ul>
      <% row.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :word %>
    <%= form.text_area :word, id: :row_word %>
  </div>

  <div class="field">
    <%= form.label :jpn %>
    <%= form.text_area :jpn, id: :row_jpn %>
  </div>

  <div class="field">
    <%= form.label :sentense %>
    <%= form.text_area :sentense, id: :row_sentense %>
  </div>

  <%= form.hidden_field :page_id, id: :row_page, value: page.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
